.row {
    margin-right: 0;
    margin-left: 0;
}

.input-group-addon{
    color:#fff;
    background: #0088cc;
    min-width: 170px;
    text-align: left;
    border:none;
}

.jumbotron {
    background: #F6642D;
}
.heads{
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-text {
    font-family: 'Lato';
    font-size: 28pt;
    font-weight: bold;
    color:#0088cc;

}