.row {
    margin-right: 0;
    margin-left: 0;

}

.input-group-addon{
    color:#fff;
    background: #0088cc;
    min-width: 170px;
    text-align: left;
    border:none;

}

.jumbotron {
    background: #FCFB98;
}